**/node_modules/**
dist
_site
.env
.DS_Store
# Local Netlify folder
.netlify

netlify/builders/userlibs/*
!netlify/builders/userlibs/index.js

netlify/functions/userlibs/*
!netlify/functions/userlibs/index.js