**/node_modules/**
dist
_site
.env
.DS_Store
# Local Netlify folder
.netlify

netlify/builders/userlibs/*
!netlify/builders/userlibs/userlibs.js
!netlify/builders/userlibs/package.json
!netlify/builders/userlibs/package-lock.json

netlify/functions/userlibs/*
!netlify/functions/userlibs/userlibs.js
!netlify/functions/userlibs/package.json
!netlify/functions/userlibs/package-lock.json

**/functions/userlibs/**
!functions/userlibs/userlibs.js
!functions/userlibs/package.json
!functions/userlibs/package-lock.json