node_modules
dist
_site
.env
.DS_Store
.netlify
.sanity
.vscode

netlify/functions/serverless/*

!netlify/functions/serverless/index.js

netlify/functions/madlib/*

!netlify/functions/madlib/index.js


studio/package-lock.json
studio/deleteUserLibs.js