---js
{
layout: "base.njk",
pagination: {
  data: "userLibs",
  alias: "userlibalias",
  size: 1,
  userlibs: "eleventy.userlibs.path.slug",
},
permalink: {
  userlibs: ["/usermadlib/", "/usermadlib/:slug/"],
}
}
---

{% set slug = eleventy.userlibs.path.slug %}

Test: {{ eleventy.userlibs | json }}

<h2>{{ userlibalias.title }}</h2>
<div>
  {{ userlibsalias.htmlText | safe }}
</div>