---
layout: 'base.njk'
pagination:
  data: userLibs
  alias: userlibalias
  size: 1
  serverless: eleventy.serverless.path.slug

permalink: 
  userlibs: "/usermadlib/:slug/"
---
{% set slug = eleventy.serverless.path.slug %}

Test: {{ eleventy.userlibs | json }}

<h2>{{ userlibalias.title }}</h2>
<div>
  {{ userlibsalias.htmlText | safe }}
</div>