---
layout: 'base.njk'
pagination:
  data: userLibs
  alias: userlibalias
  size: 1
  serverless: eleventy.serverless.path.slug

permalink: 
  userlibs: "/userlibs/:slug/"
---
{% set slug = eleventy.serverless.path.slug %}


<h2>{{ userlibalias.title }}</h2>
<div>
  {{ userlibsalias.htmlText | safe }}
</div>